/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

.top-space {
  height: 145px;
  background-color: white;
  border-bottom: 100px solid black;
  position: relative;
}

.menu-logo {
  background-image: url(../images/apploi-full.png);
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow-x: visible;
  overflow-y: visible;
  height: 119px;
  width: 212px;
  z-index: 25;
}

/* BANNER */

.hero {
  background-image: url(../images/BeFunky-collage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  margin-left: 10px;
  height: 400px;
  bottom-border: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
}

/* TEXT */

.text-intro {
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
  margin-left: 70px;
  margin-right: 70px;
  order: 1;
}

.text-header {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #8d5da7;
  letter-spacing: normal;
  line-height: 1.11;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.left-column {
  width: 37%;
  padding: 1px;
  text-align: center;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
  order: 2;
}

.left-image {
  width: 37%;
  margin: 2%;
  box-shadow: 0px 10px 10px rgba(49, 49, 49, 0.1);
  transition: all .3c ease;
  border: 3px solid;
}

.right-column {
  width: calc(100% - 37%);
  height: auto;
  padding: 1.5rem 2rem 2rem 2rem;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
  order: 3;
}

/* FOOTER */

.footer {
  display: block;
  position: relative;
  font-size: 1rem;
  background-color: black;
  color: white;
  padding-top: 45px;
}

.footer-inner {
  display: flex;
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.company {
  padding: 0 2rem;
}

.subtitle {
  font-family: 'Interstate','helvetica',arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
  font-size: 12px;
  color: #909090;
  margin: 0 0 1.5em;
}

.title {
  letter-spacing: 0;
  margin-bottom: 15px;
  font-family: 'Cera Pro','helvetica','arial',sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 1.5em;
}

.contacts {
  padding: 0 2rem;
  margin-left: auto;
}


.apploi-address {
  margin: 30px 20px;
  color: white;
  font-size: 14px;
}

.apploi-footer-logo {
  width: 125px;
}

.social-link svg {
  width: 40px;
  fill: white;
  stroke: none;
}

.copyright {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1440px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: all .25s cubic-bezier(.25,.46,.45,.94);
}

.copyright-text {
  font-size: .55556em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #909090;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
